.sticky-header {
  position: relative;
} 
.sticky-header--stuck-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.sticky-header--stuck-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.sticky-header--stuck-left {
  outline: 5px solid;
}
.sticky-header--stuck-right {
  outline: 5px solid;
}